@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');
@font-face {
    font-family: "Norse-Bold";
    src: url("font/Norse-Bold.otf");
}

:root {
    box-sizing: border-box;
    font-family: 'Patrick Hand', cursive, sans-serif;
    color: #1F4068;
    padding: 0;
    margin: 0;

    --left: 25vw;
    --right: 75vw;
}

body {
    padding: 0;
    margin: 0;

    background-image: url(images/moon.jpg);
    background-size: contain;
    background-repeat: repeat-x;
    background-position: center center;
    background-attachment: fixed;

}

.main {
    display: flex;
}

/* Left side styles - START */
.left {
    position: relative;
    width: var(--left);
    height: 100vh;
}

.logo {
    padding: 20px 0 20px 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);

    display: flex;
    justify-content: center;
    align-items: center;

    font-family: "Norse-Bold";
    font-size: 100px;
    color: white;

    position: absolute;
    top: 150px;
    left: 0px;
}

.logo > img {
    width: 100px;
    height: auto;
}

.credit {
    width: 100%;

    display: flex;
    justify-content: center;

    position: absolute;
    bottom: 20px;
}

.credit > p {
    font-size: 16px;
    color: white;
    
}

.credit > p > a {
    color: white;
}
/* Left side styles - END */

/* Right side styles - START */
.right {
    width: var(--right);

    background-color: #1B1B2F;

    display: flex;
    flex-direction: column;

    padding: 50px 50px 20px 0px;
}

.intro {
    font-size: 28px;
    padding-left: 50px;
}

.intro > p {
    padding: 0;
    margin: 0;
}

.form-container {
    width: 100%;

    margin-top: 50px;
    padding: 0px 0px 20px 50px;
    background-color: #162447;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);

    display: flex;
    flex-direction: column;
}

.form-container .row {
    display: flex;
    justify-content: flex-start;
    gap: 5rem;
}

.form-container .column {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

label {
    font-size: 22px;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"] {
    outline: none;
    width: 300px;
    height: 2em;
    border-radius: 5px;
    background: none;
    border-color: rgba(0, 0, 0, 0.2);
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
input[type="password"]:focus {
    outline: none;
    border-color: #1F4068;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
}

input[type="password"]:invalid {
    border-color: red;
}

.btnContainer {
    padding:50px 0px 0px 50px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.btnContainer > button {
    font-family: inherit;
    color: inherit;
    font-size: 20px;
    width: 270px;
    height: 2.5em;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);

    border-radius: 5px;
    border: none;
    background-color: #162447;
}

.btnContainer > button:hover {
    background-color: #162342;
    cursor: pointer;
}

.btnContainer > p > a {
    text-decoration: none;
    color: inherit;
}
/* Right side styles - END */